html{
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}

html,body{
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

html{
    box-sizing: border-box;
}*,*:before,*:after{
    box-sizing: inherit;
}

body {
    background-color: #e4e4e4;
    margin: 0;
}

header {
    position: fixed;
	top: 0;
	left: 0;
    width: 100%;
    color: #fff !important;
    background-color: #f54236 !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.container {
    padding: 0.01em 16px;
    display: block;
}

.container:after, .container:before {
    content: "";
    display: table;
    clear: both;
}

.form {
	margin: 90px 0;
}

input, textarea{
	display: block;
	margin: 10px 0;
	background: transparent;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 2px solid #d1d1d1;
	padding: 3px;
	width: 100%;
}

button {
	border: 1px solid #000000;
	background-color: #d1d1d1;
	box-shadow: none;
	border-radius: 0px;
	padding: 7px;
	font: 1.2em;
	cursor: pointer;
}

li {
    padding: 8px 16px;
    width: 100%;
    border: 1px solid black;
    margin: 3px 0;
    background-color: #d1d1d1;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16),0 1px 5px 0 rgba(0,0,0,0.12);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 90px 0;
}

.header-button {
	position: fixed;
	right: 20px;
	font-size: 25px;
	top: 20px;
	cursor: pointer;
}

h1 {
    /* font-size: 36px; */
    margin: 0.4em 0;
}

.coupleName {
    font-size: 15px;
    font-weight: bold;
}